div {
	margin: 0 auto;
	background-color: lightblue;
	width: 300px;
	height: 300px;
}

#FormHTML {
	background-color: lightseagreen;
	width: 50px;
	height: 50px;
	color: white;
}

#starGameA, #starGameB, #starGameC {
	display: none;
	visibility: hidden;
}